
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* header text */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  position: relative; 
}
.headerText{
  text-align:left;
  font-size: 2rem; 
  width: fit-content;
  margin-left: 8rem;
  margin-top: 2rem;
}
.cvLank{
  font-size: 1.5rem;
  box-shadow: 1px 1px 2px rgb(254, 198, 166);
  padding: 0.7rem;
  border-radius: 2rem;
  background-image: radial-gradient(rgb(251, 231, 175), rgb(251, 248, 221), rgb(251, 216, 171));
}
.imgPort{
  margin: 2rem;
  box-shadow: 1px 1px 1px rgb(244, 223, 185);
  padding-left: 10rem;
  border-radius: 20rem;
}
.name {
  color:  #789ef8;
  z-index: 1; 
  position: relative;
}

/* skills */
.ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.imgLog{
  padding: 1rem;
}
.skills {
  margin-top: 9rem;
  margin-bottom: 10rem;
  margin: 5rem;
}
.progressItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}
.liSkills{
  box-shadow: 4px 4px 5px rgb(96, 188, 249);
  margin: 1rem;
  border-radius: 3rem;
  padding: 0.6rem;
  background-image: radial-gradient(rgb(224, 240, 250), rgb(206, 224, 248), rgb(182, 203, 246));
  text-align: center;
  color: black;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 1rem; 
}
.animationSkill{
  position: relative;
  top: 4rem;
  color: #679bea;
  width: 50rem;
}

/* about */
.about {
  background-image: radial-gradient(circle, rgb(245, 244, 249), rgb(218, 188, 246), rgb(224, 228, 248));
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width:90%;
  margin-top: 6rem;
  margin-bottom: 9rem;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-size: 2rem;
  position: relative; 
  box-shadow: 1px 1px 10px #c299f7;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 1rem; 
  font-weight: 600;
}
.imgRelaxt {
  width: 360px; 
  height: auto;
  position: absolute; 
  top: -100px; 
  left: -50px; 
}

/* portfolio show */
.snackis{
  border-radius: 1rem;
  box-shadow: 1px 1px 20px  #212945;
  
}
.portfolioImg{
  border-radius: 1rem;
  box-shadow: 1px 1px 20px  #212945;
}
.skillsSnackis{
  box-shadow: 3px 3px 10px  #c7f5d3;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  margin: 5rem;
  color: black;
  font-size: 1.8rem;
  background-image: radial-gradient(rgb(246, 248, 244), rgb(223, 250, 225), rgb(230, 249, 230));
}
.portfolio{
  box-shadow: 3px 3px 10px #c7f5d3;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  color: black;
  padding-bottom: 7rem;
  font-size: 1.8rem;
  background-image: radial-gradient(rgb(246, 248, 244), rgb(221, 248, 222), rgb(230, 249, 230));
}
.buttonLink{
  font-size: 1.5rem;
  border-radius:2rem;
  box-shadow: 1px 1px 5px #212122;
  padding: 1rem;
  color: black;
  margin: 1rem;
  background: white;
}
.portfolioContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

/* send message */
.messageName{
  font-size: 2rem;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(253, 246, 247);
  color: black;
  margin-top: 9rem;
}
.messageInput{
  font-size: 2rem;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 6rem;
  border-radius: 0.3rem;
  background-color: rgb(253, 246, 247);
  color: black;
}
.messageButton{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  border-radius: 3rem;
  background-color: #9fc9f9;
  box-shadow: 2px 4px 3px rgb(204, 204, 206);
  margin-bottom: 5rem;
}
.messageButtonStart{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 3rem;
  background-image: radial-gradient(rgb(254, 254, 254), rgb(247, 198, 235), rgb(255, 201, 234));
  box-shadow: 2px 4px 3px rgb(247, 158, 211)
}

/* footer */
.contactfooter{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 2rem;
  border-top: 2px solid rgb(252, 252, 252);
  width: 100%; 
  padding: 1rem; 
  box-sizing: border-box;
}
.contactfooterIcon{
  margin: 5rem;
}
.contact{
  list-style: none;
  color: white;
  font-size: 2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  width: 100%; 
}




/* rest */
.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  flex: 1;
  z-index: 1;
}

h1,h3,h2 {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}






